@use '@angular/material' as mat;
@use './variables' as *;
@include mat.core;

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
      density: -20,
    ),
  )
);
