$primary-dark-blue: (
  100: #32556e,
  90: #47667c,
  80: #5b778b,
  70: #708899,
  60: #8499a8,
  50: #98aab6,
  40: #adbbc5,
  30: #c2ccd3,
  20: #d6dde2,
  15: #e0e6e9,
  10: #ebeef0,
  5: #f5f7f8,
);
$primary-white: #fff;
$primary-green: (
  100: #4e9d2d,
  80: #71b157,
  60: #95c481,
  20: #dcebd5,
  5: #f6faf5,
);
$primary-grey: (
  100: #5c6670,
);
$primary-dark: (
  100: #333,
  90: #474747,
  80: #5c5c5c,
  70: #707070,
  60: #858585,
  40: #adadad,
  30: #c2c2c2,
  20: #d6d6d6,
  10: #ebebeb,
  5: #f5f5f5,
);
$secondary-blue: (
  100: #007caa,
  80: #3396bb,
  60: #66b0cc,
  40: #99cbdd,
  30: #b3d8e6,
  20: #cce5ee,
  10: #e6f2f6,
  5: #f2f8fb,
);
$secondary-purple: (
  100: #90408d,
  80: #a666a4,
  60: #bc8cbb,
  40: #d3b3d1,
  30: #dec6dd,
  20: #e9d9e8,
  10: #f4ecf4,
  5: #f9f5f9,
);
$secondary-red: (
  100: #f05a22,
  80: #f37b4e,
);
$typography-black: (
  100: #333,
);
$typography-grey: (
  100: #828282,
);
$other-orange: (
  100: #f6a623,
  80: #f8b84f,
  60: #faca7b,
  10: #fef6e9,
);
$other-red: (
  100: #eb4242,
  80: #ef6868,
  60: #f38e8e,
  20: #fbd9d9,
  10: #fdecec,
);
